<footer class="text-black-50 mt-xl-5 navbar" >
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3">
        <h5 class="text-dark">About</h5>
        <hr class="text-light">
        <p class="text-light"><i>
          Here you can create your FOAF Profile!
          You have the opportunity to download your FOAF Profile in multiple formats, including
          Turtle, Json-LD, N-Triples and RDF/XML.
        </i></p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
        <h5 class="text-dark">Informations</h5>
        <hr class="text-light">
        <ul class="list-unstyled">
          <li><a href="" class="text-light"><i>Turtle Info</i></a></li>
          <li><a href="" class="text-light"><i>RDF/XML Info</i></a></li>
          <li><a href="" class="text-light"><i>N-Triples Info</i></a></li>
          <li><a href="" class="text-light"><i>JSON-LD Info</i></a></li>
        </ul>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
        <h5 class="text-dark">Others links</h5>
        <hr class="text-light">
        <ul class="list-unstyled">
          <li><a href="" class="text-light"><i>Linked Data</i></a></li>
          <li><a href="" class="text-light"><i>Jena</i></a></li>
          <li><a href="" class="text-light"><i>Linked Open Data Cloud</i></a></li>
          <li><a href="" class="text-light"><i>RDF</i></a></li>
        </ul>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3">
        <h5 class="text-dark">Contact</h5>
        <hr class="text-light">
        <ul class="list-unstyled">
          <li class="text-light"><i class="fa fa-home mr-2"> My company</i></li>
          <li class="text-light"><i class="fa fa-envelope mr-2">email@example.com</i></li>
          <li class="text-light"><i class="fa fa-phone mr-2"> + 33 12 14 15 16</i></li>
          <li class="text-light"><i class="fa fa-print mr-2"> + 33 12 14 15 16</i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>