<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" style="color: #0B3D59">
    <nav class="navbar navbar-expand-md navbar bg-info header-class fixed-top h-150" >
        <div class="container header-class">
            <a class="navbar-brand text-light" href="/home"><b class="text-light">FOAF Generator</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav">
                    <li class="nav-item m-auto">
                        <a class="nav-link text-light" href="/foafprofile/create">Create Your FOAF Profile</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link text-light" href="/profiles">Find your FOAF Friends</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-dark btn btn-outline-light btn-sm ml-3"
                       href="/login" sec:authorize="!isAuthenticated()">Sign in</a>
                </form>
                <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="nav-item m-auto dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="(${#session.getAttribute('name')} != null ? ${#session.getAttribute('name')} : ${#request.getRemoteUser()}) ">
                            </th:block>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item nav-link" href="/profile/{id}">My FOAF Profile!</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>