<div xmlns:th="http://www.thymeleaf.org">
  <section class=" text-center ">
    <br/>
    <div class="container ">
      <br/>
      <span class=" mt-5 d-flex justify-content-center" id="text1"><i class="fa fa-users" id="user-icon" aria-hidden="true"></i></span>

      <h3 class="text mt-1" id="text1">All Registered users with their FOAF Profiles</h3>
      <h4 class="text-info ">Here you can find all registered FOAF profiles on this site!</h4>

    </div>
    <br/>
  </section>
  <div class="container">
    <div class="row card-container ml-5">
      <div class="row">
        <div class="card border border-light col-sm-6"  th:if="${users.size() > 0}" th:each="user : ${users}"
        style="width: 200px; height: 200px; background: #0B3D59">
          <div class="text-center mt-3">
            <img class="rounded-circle border border-light" src="../static/images/robot.png" width="75" th:src="@{images/robot.png}"/>
          </div>
          <div class="card-body text-center ">
            <h5 class="card-title text-light" th:text="${user.getUsername()}" ></h5>
            <form th:if="${user.getMyProfile() != null}" th:action="@{'/profile/{id}' (id=${user.getMyProfile().getUri()})}"
                  th:method="GET">
              <button type="submit"
                      class="btn btn-sm btn-light">
                <i class="text-info">See my profile</i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div>
      <div class="col-sm-12 col-md-12" >
        <a href="/foafprofile/create" class="btn btn-block btn-info add-product-btn">
          Add new profile!
        </a>
      </div>
    </div>
  </div>


</div>


