<html xmlns:th="http://www.thymeleaf.org">
<th:block>
    <section class="text-center">
        <div class="container bg-info">
        </div>
        <div class="text-center">
            <section>
                <div class="container">
                    <br/>
                    <Br/>
                    <div class="row align-items-center no-gutters mb-4 mb-lg-5 mt-5">
                        <div class="col-xl-4 col-lg-5">
                            <div class="featured-text text-center text-lg-left">
                                <h5 id="text1">FOAF Profile Generator</h5>
                                <p id="text1">Here, you can create your FOAF Profile, in less then a minute. Just click the button below!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                        <div class="container col-lg-6 text-center">
                            <a href="/foafprofile/create" class="btn btn-lg btn-block text-light border border-light"
                               style="background: #0B3D59">Create your FOAF profile here</a>

                        </div>

                    </div>
                    <div class="row align-items-center no-gutters d-flex flex-row-reverse">
                        <div class="col-xl-4 col-lg-5 order-lg-first">
                            <div class="bg-black text-center h-100 project">
                                <div class="d-flex h-100">
                                    <div class="project-text w-100 my-auto text-right text-lg-right" id="text1">
                                        <h5 id="text1">Find your friends</h5>
                                        <p id="text1">You have the opportunity to find your friends and colleagues!
                                            Let's expand Friend of a Friend community together.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center no-gutters mb-4 mb-lg-5 mt-5">
                        <div class="col-xl-4 col-lg-5">
                            <div class="featured-text text-center text-lg-left">
                                <h5 id="text1">Want a different format?</h5>
                                <p id="text1">Yes! We also offer you the opportunity to download your profile in
                                    multiple formats!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <div class="container text-center">
            <hr  style="border: 1px solid #0B3D59"/>
        <div class="row text-center mt-5">
            <div class="col-md-4 col-lg-4 col-xl-4 " id="text1" >
                <h5 class="text-info mb-3" >About FOAF</h5>
                <p>FOAF - Friend of a Friend is a machine readable ontology,
                    which main purpose is to describe people,
                    their activities and their relationships with other people.</p>
                <p class="text-info"><b><i> FOAF is free and available to anyone!</i></b></p>
                <p>
                    With FOAF, people can describe their social networks, without needing a centralized database.
                    FOAF is expressed using the RDF - Resource Description Framework and OWL- Web Ontology Language.
                </p>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 border-left border-dark border-right" style="border: #0B3D59">
                <div class="text-center mt-2">
                    <img  src="../static/images/trlogo.png" width="270px" th:src="@{images/trlogo.png}"/>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <h5 class="text-info mb-3" >About our FOAF project</h5>
                <p class="text-bold" >With our FOAF project you have the opportunity to easily find and
                    connect with FOAF profiles around the world! </p>
                <p class="text-info"> <b> <i>In just two clicks you can generate your FOAF profile,
                    and make it available for everyone to see!</i> </b></p>
                <p>
                    Additionally, you have the option to download your FOAF in several formats,
                    including Turtle, N-triples, JSON-LD and RDF/XML!
                </p>
            </div>
        </div>
            <br/>
            <hr style="border: 1px solid #0B3D59"/>
        </div>

    </section>


</th:block>
</html>