<th:block xmlns:th="http://www.thymeleaf.org">
  <div class="container">
    <br/>
    <form class="form-signin mt-xl-5" method="post" action="/login">
      <div class="align-center justify-center">
        <br/>

        <h4 class="form-signin-heading  text-center" id="text1">Sign in!</h4>
        <div class="text-center mt-3">
          <img class="rounded-circle border border-light" src="../static/images/logologin.png" width="150" th:src="@{images/logologin.png}"/>
        </div>
      </div>
      <br/>
      <p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
      </p>
      <p>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
      </p>

      <div th:if="${hasError}">
        <div th:text="${error}" class="text-danger"></div>
      </div>

      <button id="submit" class="btn btn-lg btn-light btn-block border border-info" type="submit">Sign in</button>
    </form>
    <br/>
    <a href="/register" class="btn btn-lg btn-block text-light border border-light" style="background: #0B3D59">You don't have an account? Sign up here!</a>
  </div>
</th:block>