<th:block xmlns:th="http://www.thymeleaf.org">

  <div class="container m-5" >
    <h1 th:if="${hasError}" th:text="${error}"></h1>
  </div>
  <div class="container border-warning">
    <form class="form-signin mt-xl-5" method="post" action="/register">
      <br/>
        <br/>
      <br/>
      <h4 class="form-signin-heading  text-center" id="text1">Fill in the form bellow in order to register!</h4>
        <br/>
      <div class="row" id="text1">
      <p class="col">
        <label for="firstname">First name</label>
        <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Name" required="" autofocus="">
      </p>
      <p class="col">
        <label for="lastname">Last name</label>
        <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last name" required="" autofocus="">
      </p>
      </div>
      <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
      </p>
      <div class="row">
      <p class="col">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
      </p>
      <p class="col">
        <label for="repeatedPassword">Repeat password</label>
        <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control" placeholder="Repeat Password" required="">
      </p>
      </div>
      <p>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Email" required="" autofocus="">
      </p>

      <button class="btn btn-lg btn-light btn-block border border-info" type="submit">Sign up!</button>
    </form>
    <br/>
    <a href="/login" class="btn btn-lg btn-block text-light border border-light" style="background: #0B3D59">Already have an account? Sign in!</a>
  </div>

</th:block>